.order-box{
    margin: 50px 0 50px 0;
    font-size: 20px;
    color: #0f080d;
    .info-body{
        margin-bottom: 50px;
    }
   
}

.btn-home{
    padding: 20px 65px;
    span{
        margin-right: 20px;
    }
}
.label-green{
    background: #e5f0df;
    color: black;
    padding: 10px;
    font-size: 15px;
}