
$bg-main: #dff0ef;
$text-main: #7f7c7c; 
$text-high: #0f080d;
$bg-grey: #fafafa;
$bg-footer: #312d32;

.red {
    border: 2px solid red;
}

body {
    // background-color: #f5f5f5;
    color: #7f7c7c;
    font-family: 'Open Sans',  sans-serif;
    font-size: 18px;
    font-weight: 300;
    // line-height: 1.5;
    padding: 0;
    p, ul {
        line-height: 2;
    }
}
h1, h2, h3, h4, h5, h6 {
    color: #0f080d;
    font-family: 'Open Sans',  sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    text-transform: none;
}

h1 {
    font-size: 48px;
    line-height: 1.5;
    // letter-spacing: 0px;
    @media (max-width: 991px) {
        font-size: 36px;
    }
}

h2 {
    font-size: 34px;
    line-height: 1.4;
    @media (max-width: 540px) {
        font-size: 26px;
    }
    // letter-spacing: 0px;
}

.flex-container {
    display: flex;
    // border: 1px solid red; // for testing
}

a:focus, a:hover {
    color: inherit;
    text-decoration: none;
}


.btn-primary{
    background-color: #312d32;
    //padding: 20px 25px;
    padding: 10px 25px;
    border-radius: 0;
    border-color:#312d32;
}
.btn-primary:hover,
.btn-primary:focus:active,
.btn-primary:focus{
    background-color: $bg-main;
    border-color: $bg-main;
    color:#312d32;
}

.btn-primary.green:hover,
.btn-primary.green:focus:active,
.btn-primary.green:focus{
    background-color: #e5f0df;
    border-color: #e5f0df;
    color:#312d32;
}